<router-outlet />
<h1>{{title}}</h1>

<ul class="list-group">
    @for (user of users; track user) {
        <li class="list-group-item">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
                {{user.id}} - {{user.userName}}
            </a>
        </li>
    }
</ul>

<div class="collapse" id="collapseExample">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
    </div>
</div>